h1 {
    margin-top: 45px !important;
}

p {
    margin: 20px 0 !important;
}

.margin-eighty {
    margin-top: 90px;
}

/* Font override TODO: !!!! add domain to typekit list !!!!
-------------------------------------------------- */
h1, p {
    font-family: "proxima-nova", "helvetica neue", sans-serif !important;
    font-weight: 300 !important;
}

h1 {
    font-weight: 100 !important;
}

/* Navbar override
-------------------------------------------------- */
.navbar {
    background-color: #fff !important;
    box-shadow: 0px 1px 30px #c1c1c1;
}

.navbar-header {
    margin: 10px 0;
}

body {
    background-repeat: repeat-x;
    background-image: url(../img/background.png);
}


/* Custom button
-------------------------------------------------- */

/* Override base .btn styles */
/* Apply text and background changes to three key states: default, hover, and active (click). */
.btn-blue,
.btn-blue:hover,
.btn-blue:active {
    color: white !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #008DCD;
}

/* Apply the custom-colored gradients */
/* Note: you'll need to include all the appropriate gradients for various browsers and standards. */
.btn-blue {
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #009ED2 0%, #008DCD 100%);
}

/* Set the hover state */
/* An easy hover state is just to move the gradient up a small amount. Add other embellishments as you see fit. */
.btn-blue:hover {
    background-position: 0 -15px;
}

.btn-grey,
.btn-grey:hover,
.btn-grey:active {
    color: white !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #CCCCCC;
}

.btn-grey {
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #C1C1C1 0%, #CCCCCC 100%);
}

.btn-grey:hover {
    background-position: 0 -15px;
}

.btn-blue, .btn-grey {
    padding: 12px !important;
}

