<br/><h4 class="quickstart typeBlue" id="console">Checking the MokiManage Console</h4>
To make sure your integration is working, load the app on your device, then go to the MokiManage console to see if you
can find the app there. After logging on to MokiManage.com, click the "Change App" drop-down at the top left. You should
see your application in the drop-down list. Select your app, and your device should be displayed in the list.<br/><br/>
If you see your device in the list, select it. On the right you should see a tabbed panel showing information about the
device you selected. The Dashboard tab shows a graphical representation of the logs the AEM module collects. If you
select the Details tab, you’ll see information about your device, such as battery status, network information, and so
on.<br/></br>
All of the device actions represented in the Actions drop-down menu are available without any additional
configuration.<br/><br/>