<p class="alert alert-info">This guide describes the fast path to integrating the MokiManage SDK into your iOS app. You should already have an
    account on MokiManage.com, and have an app key and tenant ID.</p>




    <h1 class="quickstart typeBlue">iOS Integration</h1>
    To set up your iOS app to use the MokiManage SDK, you need to take the following steps:


    <ol>
        <li>Setup Apple Push Notification service (APNs) for your app.</li>
        <li>Add the MokiManage SDK to your project.</li>
        <li>Setup your app delegate.</li>
        <li>Silent enrollment</li>
        <li>Check the MokiManage console for the device running your app.</li>
    </ol>
    <br/>


