<h4 class="quickstart typeBlue" id="iosDelegate">Setting up Your App Delegate</h4>
    You need to update your app delegate to work with MokiManage and APNs.<br/><br/>
    First, add the <code>MokiManage.h</code> header to your app delegate header file:
    <pre><code>#import "MokiManage.h"</code></pre>
    and add the MokiManage protocol to your delegate:
    <pre><code>@interface AppDelegate : UIResponder &lt;UIApplicationDelegate, MokiManageDelegate&gt;</code></pre>
    Second, in your <code>AppDelegate.m</code> file, add a declaration for your API key and tenant ID:
<pre><code>#define API_KEY @"whatever-your-apik-eyis-useitherenow"
    #define Tenant_ID @"whatever-your-tena-anti-disuseitnow1"
</code></pre>
    Third, initiate the session with the MokiManage SDK from your app delegate’s
    <code>didFinishLaunchingWithOptions:</code> method, calling the <code>initializeWithApiKey:</code> method.
<pre><code>
    NSError *error;

    [[MokiManage sharedManager] initializeWithApiKey:API_KEY
    launchingOptions:launchOptions
    enableASM:NO
    enableAEM:YES
    asmSettingsFileName:nil
    error:&amp;error];

    [[MokiManage sharedManager] setDelegate:self];
</code></pre>
    Fourth, you need to add the delegate methods for APNs. From the <code>didRegisterForRemoteNotificationsWithDeviceToken:</code>
    method, call MokiManage to pass on the device token. Now MokiManage has the device's APNs token and will use that to
    send APNs messages.<br/>

    <p class="alert alert-info"><b>IMPORTANT NOTE</b> - The iOS Simulator does not correctly register for an APNs token,
        which is required in order to register a device with MokiManage. In order to test the entire device registration
        lifecycle, you have to use a physical device.</p>

    Fifth, add the appropriate logic to the <code>didFailToRegisterForRemoteNotificationsWithError:</code> and <code>didReceiveRemoteNotification:</code>
    methods.
<pre><code>
    - (void)application:(UIApplication*)application
    didRegisterForRemoteNotificationsWithDeviceToken:(NSData*)deviceToken {
    [[MokiManage sharedManager] setApnsToken:deviceToken];
    }

    - (void)application:(UIApplication*)application didFailToRegisterForRemoteNotificationsWithError:(NSError*)error {
    if(error) {
    // Add error processing here.
    NSLog(@"error registering for push notifications %@",error);
    }
    }

    - (void)application:(UIApplication *)application didReceiveRemoteNotification:(NSDictionary *)userInfo {
    [[MokiManage sharedManager] didReceiveRemoteNotification:userInfo];
    }
</code></pre>
    <br/>

    Finally, in addition to adding the APNs methods, add the <code>MokiManageDelegate</code> methods to your delegate.
    To get up and running, you don’t need to have any logic in these delegate methods.
<pre>
<code>#pragma mark -
    #pragma mark MokiManageDelegate Methods

    -(void)finishedRegistrationWithError:(NSError *)error{
    if(error){
    // Proces the error
    }
    // Let other objects in your app know that registration is complete.
    }

    -(void)finishedUnRegistrationWithError:(NSError *)error{
    NSLog(@"MokiManage finishedUnRegistrationWithError %@", error.localizedDescription);

    }

    -(void)finishedRegisteringToANewTenantWithError:(NSError *)error{
    NSLog(@"MokiManage finishedRegisteringToANewTenantWithError");

    }

    -(void)finishedPullingSettings:(NSDictionary *)settings WithError:(NSError *)error {
    NSLog(@"MokiManage finishedPullingSettings");

    }

    -(void)finishedPushingSettings:(NSDictionary *)settings WithError:(NSError *)error {
    NSLog(@"MokiManage finishedPushingSettings with error: %@", error);

    }

    -(void)finishedEditingSettings{

    }</code></pre>
    <br/>

    <br/>