<h4 class="quickstart typeBlue" id="iosSdk">Adding the MokiManage SDK to your Xcode project</h4>

    Setting up your Xcode project consists of the following steps:

    <ul>
        <li>Download and install the SDK and necessary dependencies</li>
        <li>Update your <code>Info.plist</code> file.</li>
    </ul>

    The MokiManage SDK can be downloaded from GitHub:<br/>

    <a href="https://github.com/MokiMobility/MokiManageSDK/tree/ios">https://github.com/MokiMobility/MokiManageSDK/tree/ios</a><br/><br/>

    If your project utilizes <a href="http://cocoapods.org" target="_blank">CocoaPods</a>, then add this dependency line
    to your <code class="http">Podfile</code><br/><br/>

    <code>pod 'MokiManageSDK', :git =&gt; 'https://github.com/MokiMobility/MokiManageSDK.git', :branch =&gt;
        'ios'</code><br/><br/>

    If you want to utilize CocoaPods, but do not already have an existing <code class="http">Podfile</code>, please see
    the <a href="https://github.com/MokiMobility/MokiManageSDK/tree/ios">iOS SDK readme</a> for an example
    file.<br/><br/>

    If you choose to manually add the SDK to your project, you will need to add the following:<br/><br/>

    <b>Dependencies</b>:<br/>
    <ul>
        <li>AFNetworking - <a href="https://github.com/AFNetworking/AFNetworking">https://github.com/AFNetworking/AFNetworking</a>
        </li>
    </ul>
    <b>Frameworks</b>:<br/>
    <ul>
        <li>ExternalAccessory</li>
        <li>CoreTelephony</li>
        <li>CoreLocation</li>
        <li>SystemConfiguration</li>
        <li>Foundation</li>
        <li>CoreGraphics</li>
    </ul>
    <br/>

    Add an dictionary entry to your target's <code>Info.plist</code> named <code>certType</code>, with 3 boolean items.
    The items are: <code>store</code>, <code>enterprise</code>, and <code>sandbox</code>. This entry tells the SDK which
    APNS cert the platform should use to communicate with the app. These entries map to the same cert entries you
    uploaded in MokiManage. During development, mark YES for sandbox, and no for the other entries.<br/><br/>
    <img alt="" src="img/PlistCertType.png" width="75%">
    <br/>

