<div class="context-switcher"></div>
<ul class="nav bs-sidenav">

    <li>
        <a href="#/quickstart/apple" ng-click="$root.context='apple'"><i class="icon-apple"></i> iOS Quickstart</a>
    </li>
    <li>


        <ul context-show="apple">

            <a href="#/aem">AEM</a>

            <li>
                <a>Setup APNs</a>
            </li>
            <li>
                <a>Add MokiManage SDK</a>
            </li>
            <li>
                <a>Setup App Delegate</a>
            </li>
            <li>
                <a>Silent Enrollment</a>
            </li>
            <li>
                <a>Check MokiManage console</a>
            </li>
        </ul>


    </li>


    <li>
        <a href="#/quickstart/android" ng-click="$root.context='android'"><i class="icon-android"></i> Android
            Quickstart</a>
    </li>

    <ul context-show="android">

        <a href="#/aem">AEM</a>

        <li>
            <a>Add MokiManage SDK</a>
        </li>
        <li>
            <a>Setup Android Manifest</a>
        </li>
        <li>
            <a>Extend the Application class</a>
        </li>
        <li>
            <a>Configure app to receive broadcasts</a>
        </li>
        <li>
            <a>Silent Enrollment</a>
        </li>
        <li>
            <a>Check MokiManage console</a>
        </li>
    </ul>

    <li>
        <a href="#/asm">ASM Programming Guide</a>
    </li>

    <li>
        <a href="#/apns-setup">APNs Setup Guide</a>
    </li>

    <li>
        <a href="">Apple Docs</a>
    </li>

    <li>
        <a href="">Java Docs</a>
    </li>

    <li>
        <a href="">Contact</a>
    </li>


</ul>