<div class="affix">

    <!--<div class="context-switcher"></div>-->
    <ul class="nav nav-stacked">

        <li>
            <a href="#/aem">MokiManage SDK</a>
        </li>

        <li ng-click="ios()">
            <a href="#/aem/apple/apple-quickstart"><i class="icon-apple"></i> iOS Quickstart</a>
        </li>
        <li>

            <div ng-hide="!iosDisplayed">

                <ul>
                    <li>
                        <a href="#/aem/apple/apns">Setups APNs</a>
                    </li>
                    <li>
                        <a href="#/aem/apple/ios-sdk">Add MokiManage SDK</a>
                    </li>
                    <li>
                        <a href="#/aem/apple/ios-delegate">Setup App Delegate</a>
                    </li>
                    <li>
                        <a href="#/aem/apple/ios-silent">Silent Enrollment</a>
                    </li>
                    <li>
                        <a href="#/aem/apple/ios-console">Check MokiManage Console</a>
                    </li>

                </ul>
            </div>

        </li>

        <li ng-click="android()">
            <a href="#/aemandroid/android-quickstart"><i class="icon-android"></i> Android
                Quickstart</a>
        </li>

        <li>
            <div ng-hide="!androidDisplayed">
                <ul>
                    <li>
                        <a href="#/aem/android/eclipse">Add MokiManage SDK</a>
                    </li>
                    <li>
                        <a href="#/aem/android/manifest">Setup Android Manifest</a>
                    </li>
                    <li>
                        <a href="#/aem/android/extend">Extend the Application Class</a>
                    </li>
                    <li>
                        <a href="#/aem/android/broadcasts">Configure App to Receive Broadcasts</a>
                    </li>
                    <li>
                        <a href="#/aem/android/silent">Silent Enrollment</a>
                    </li>
                    <li>
                        <a href="#/aem/android/android-console">Check MokiManage Console</a>
                    </li>

                </ul>
            </div>
        </li>

        <li ng-click="aem()">
            <a href="#/asm">ASM Programming Guide</a>
        </li>
        <li>
            <div ng-hide="!aemDisplayed">
                <ul>
                    <li>
                        <a href="#/asm">Intro</a>
                    </li>
                    <li>
                        <a href="#/asm/schema-examples">Schema Examples</a>
                    </li>
                    <li>
                        <a href="#/asm/update-schema">Update Schema</a>
                    </li>
                    <li>
                        <a href="#/asm/enable">Enable ASM</a>
                    </li>
                    <li>
                        <a href="#/asm/ui">User Interface</a>
                    </li>
                    <li>
                        <a href="#/asm/settings">Settings</a>
                    </li>


                </ul>
            </div>
        </li>
<!--<li class="">-->
<!--<a href="#iosSdk" prevent-default="">Add MokiManage SDK</a>-->
<!--</li>-->
<!--<li class="">-->
<!--<a href="#iosDelegate" prevent-default="">Setup App Delegate</a>-->
<!--</li>-->
<!--<li class="">-->
<!--<a href="#iosSilent" prevent-default="">Silent Enrollment</a>-->
<!--</li>-->
<!--<li>-->
<!--<a>Check MokiManage console</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->

<!--</li>-->

        <li>
            <a href="#/apns-setup" ng-click="noDisplay()">APNs Setup Guide</a>
        </li>

        <li>
            <a href="appledoc/Classes/MokiManage.html" ng-click="noDisplay()">Apple Docs</a>
        </li>

        <li>
            <a href="javadoc/com/moki/manage/api/MokiManage.html" ng-click="noDisplay()">Java Docs</a>
        </li>

        <li>
            <a href="#/contact" ng-click="noDisplay()">Contact</a>
        </li>

<!--<li ng-click="aemDisplay()">-->
<!--<a href="#/asm">ASM Programming Guide</a>-->
<!--</li>-->
<!--<li>-->
<!--<div ng-hide="!aemDisplayed">-->
<!--<ul>-->
<!--<li>-->
<!--<a href="#/asm">Intro</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#/asm/schema-examples">Schema Examples</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#/asm/update-schema">Update Schema</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#/asm/enable">Enable ASM</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#/asm/ui">User Interface</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#/asm/settings">Settings</a>-->
<!--</li>-->


<!--</ul>-->
<!--</div>-->
<!--</li>-->


<!--<li>-->
<!--<a href="#/apns-setup" ng-click="noDisplay()">APNs Setup Guide</a>-->
<!--</li>-->

<!--<li>-->
<!--<a href="appledoc/Classes/MokiManage.html" ng-click="noDisplay()">Apple Docs</a>-->
<!--</li>-->

<!--<li>-->
<!--<a href="javadoc/com/moki/manage/api/MokiManage.html" ng-click="noDisplay()">Java Docs</a>-->
<!--</li>-->

<!--<li>-->
<!--<a href="#/contact" ng-click="noDisplay()">Contact</a>-->
<!--</li>-->

    </ul>
</div>