/*<meta />*/

body
{
	font-size: 16pt;
	font-family: "adelle-sans";
    font-style: normal;
    font-weight: 400;
}

h1
{
	font-weight: bold;
	font-size: 24.0pt;
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

p
{
	margin-top: 0pt;
	line-height: 17pt;
	margin-bottom: 12pt;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: solid 1px #bbb4b4;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	text-decoration: none;
	color: #000000;
	font-size: 14pt;
}

li
{
	line-height: 17pt;
	margin-bottom: 2pt;
}

p.example
{
	background-color: #f5f5f5;
	border: solid 1px #a9a9a9;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 10pt;
	font-family: "adelle-sans";
}

pre
{
	font-size: 9pt;
	background-color: #f5f5f5;
	border: solid 1px #a9a9a9;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: "adelle-sans";
}

span.green
{
	color: #080;
}

span.red
{
	color: #FF0000;
}

span.brown
{
	color: #643820;
}

span.teal
{
	color: #3F6E74;
}

span.dark_purple
{
	color: rgb(92,38,153);
}

p.note
{
	margin-top: 0pt;
	line-height: 17pt;
	background-color: #d9edf7;
	border: solid 1px #bce8f1;
	padding: 7px;
	mc-auto-number-format: '{b}Note: {/b} ';
	font-size: 9pt;
	margin-bottom: 6pt;
}

span.attribute
{
	background-color: #f9f2f4;
	color: #c7254e;
	font-family: "adelle-sans";
}

ul
{
	font-size: 10pt;
}

object
{
	font-size: 10pt;
}

span.light_purple
{
	color: #AA0D91;
}

div.prereq
{
	background-color: #D9EDF7;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 20px;
	padding: 10px;
}

div.prereq p
{
	color: #3a87ad;
	margin-bottom: 0px;
}

MadCap|dropDown
{
	mc-open-image: url('../Images/minus.png');
	mc-closed-image: url('../Images/plus.png');
	border: 1px solid #ECECEC;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}

div.main
{
	margin-left: 30px;
	max-width: 800px;
	min-width: 500px;
}

MadCap|dropDownHead
{
	background-color: #ececec;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

MadCap|dropDownHead:hover
{
	background-color: #a9a9a9;
}

MadCap|dropDownBody
{
	margin: 25px;
}

ol ol
{
	list-style-type: lower-alpha;
}

span.blue
{
	color: rgb(28,0,207);
}

span.title
{
	color: #008;
}

span.annotation
{
	color: #9B859D;
}

span.question
{
	background-color: #FF0000;
	color: #FFF;
}

MadCap|dropDownHead.Level2
{
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #ececec;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

MadCap|dropDownHead.Level2:hover
{
	background-color: #a9a9a9;
}

ol
{
	margin-bottom: 10px;
}

ul.no_bullet
{
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-type: none;
	padding-left: 0px;
}

MadCap|xref.Intro
{
	mc-format: '{paratext}';
}

span.string
{
	color: rgb(196,26,22);
}

MadCap|xref
{
	mc-format: '{paratext}';
}

span.annotation
{
	color: #9B859D;
}

img.noborder
{
	border: none;
	vertical-align: middle;
}

p.middle
{
	margin-top: 0pt;
	line-height: 17pt;
	margin-bottom: 12pt;
	vertical-align: middle;
}

span.valid
{
	color: #009900;
	font-weight: bold;
}

span.invalid
{
	color: #FF0000;
	font-weight: bold;
}

div.indent
{
	padding-left:10px;
}
