.tabs-nav
{
	display:none;
}

.tabs-panel
{
	background-color:#fff;
}

.tabs-panel-content 
{
	border: none;
	border-bottom: none;
	padding-top: 30px;
	border-top: none;
	border-right: none;
	border-left: none;
    width: 330px;
}

#contentBody
{
	background-color:#fff;
}

#navigationResizeBar 
{
	display:none;
}

.buttons
{
	display:none;
}

#contentBodyInner 
{
	border-top: none;
	border-right: none;	
	border-left: none;
}

#header
{
	-webkit-box-shadow:	0px 1px 30px #c1c1c1;
	-moz-box-shadow:    0px 1px 30px #c1c1c1;
	box-shadow:         0px 1px 30px #c1c1c1;
}

.search-bar
{
	display:none;
}

.tree-node-leaf > div
{
	background:none;
}

.tree-node-expanded > div
{
	background:none;
}

.tree-node-collapsed > div
{
	background:none;
}

.tree-node div
{
	line-height:2.3em;
}

.tree-node.tree-node-selected > div
{
	border-left: 0 solid #5c5d5d;
}



	