<p class="alert alert-info">This guide describes the fast path to integrating the MokiManage SDK into your Android app. You should already have an
    account on MokiManage.com, and have an app key and tenant ID.</p>


<div context-show="android">
    <h1 class="quickstart typeBlue">Android Integration</h1>
    To setup your Android app to use the MokiManage SDK, you need to take the following steps:


    <ol>
        <li>Add the MokiManage SDK to your project.</li>
        <li>Set up the <code></code>AndroidManifest.xml</code></li>
        <li>Extend the <code>Application</code> class and add the new class to the <code>AndroidManifext.xml</code></li>
        <li>Configure your app to receive MokiManage broadcasts</li>
        <li>Silent Enrollment</li>
        <li>Check the MokiManage console for the device running your app.</li>
    </ol>
    <br/>


</div>