<h4 class="quickstart typeBlue" id="eclipse">Adding MokiManage SDK to your Eclipse project</h4>
The MokiManage SDK is hosted in a Maven compatible repository on GitHub and as such you should be able to easily
integrate the SDK into your existing Maven, Gradle, Ant+Ivy, or other build tools compatible with a maven2 layout
repository. For more information please see the Android branch <a
        href="https://github.com/MokiMobility/MokiManageSDK/tree/android" target="_blank">README file</a>.<br/><br/>

If you want to manually add the SDK to your project, it can be downloaded directly from GitHub here:
<ui style="...">
    MokiManageSDK - <a
        href="https://raw.github.com/MokiMobility/MokiManageSDK/android/com/mokimobility/MokiManageSDK/1.0.0/MokiManageSDK-1.0.0.jar">MokiManageSDK-1.0.0.jar</a>
</ui>
<br/>
The MokiManage SDK uses Google’s <code>Gson</code> library to parse JSON. Because many developers already use Gson in
their apps, we have not included it in our library. You need to download the Gson 2.x file and include it in your
project.
<ul style="list-style: none; padding-left: 0; margin-left: 0;">
    <li>Gson - <a href="https://code.google.com/p/google-gson/downloads/list">https://code.google.com/p/google-gson/downloads/list</a>
    </li>
</ul>
<br/>