<h4 class="quickstart typeBlue" id="extend">Extending the Application Class</h4>
While you can do the following in an activity, we recommend that you create a custom <code>Application</code> class.
This class will help you maintain a global application state.<br/>
<b>Setting up MokiManage in Your Custom Application</b>
First, import the <code>MokiManage</code> in your <code>CustomApplication.java</code> file:

<pre><code>import com.moki.manage.api.MokiManage;</code></pre>
<br/>

Second, create constants for your api key and tenant ID:
<pre><code>private static final String API_KEY = "whatever-your-apik-eyis-useitherenow";
    private static final String TENANT_ID = "whatever-your-tennat-id-is-useitherenow";
</code></pre>
<br/>

Third, initiate the session with the MokiManage SDK from the onCreate function of your
<code>CustomApplication.java</code> file:
<pre><code>public class CustomApplication extends Application {
    private MokiManage mokiManage;
    private static final String API_KEY = "whatever-your-apik-eyis-useitherenow";
    private static final boolean ENABLE_AppSettingsManagement = false;
    private static final boolean ENABLE_AppEnvirionmentManagement = true;
    @Override
    public void onCreate() {
    super.onCreate();

    mokiManage = MokiManage.sharedInstance(API_KEY, this, ENABLE_AppSettingsManagement,
    ENABLE_AppEnvirionmentManagement);
    }
    }
</code></pre>
<br/>
Finally, include the new class name in your <code>AndroidManifest.xml</code> file.
<pre><code>&lt;application
    android:name=".ApplicationContext"
    android:icon="@drawable/icon"
    android:label="@string/app_name"
    android:theme="@android:style/Theme.NoTitleBar.Fullscreen"&gt;
</code></pre>
<br/>