<h1 class="quickstart typeBlue">Compliance</h1>
<p>The Compliance module of the MokiManage SDK provides a way to quickly have your app report on a number of compliance checks that cover both the app and the device the app is running on. By reporting items like if the device is rooted/jailbroken or if it is running on an old version of the OS, you can make functionality decisions in your app based on the current compliance status.</p>

<div context-show="apple">
<p>A Compliance Report is a collection of compliance checks performed on the device to give a snapshot of security. The structure of this report in iOS is comprised of a ComplianceReport class with information about the overall check and an array of ComplianceCheck class objects. Documentation for these classes can be found in the <a href="http://mokimobility.github.io/MokiManageSDK/appledoc/Classes/MokiManage.html#//api/name/complianceReport" target="_blank">SDK Apple Docs</a></p>
<p>There are 3 ways to use compliance reports in your application. The first is to initialize compliance checking when you initialize the <code>MokiManage sharedManager</code>.</p>
<pre><code>[[MokiManage sharedManager] initializeWithApiKey:appKey
    launchingOptions:[appDelegate launchingOptions]
    enableASM:YES
    enableAEM:YES
    enableComplianceChecking:YES
    asmSettingsFileName:nil
    error:&error];
</code></pre>
<p>When this option is enabled a Compliance Report will be run on every heartbeat. By default this happens every hour. If the heartbeat timer is customized, the compliance report frequency will change accordingly. This method provides a simple, continually updated view to the compliance status of the app and device.</p>
<p>The second method is to look at last run report as part of the compliance singleton. When a check is triggered manually on the singleton or by the automatic heartbeat the results of the check are available by asking for the singleton and inspecting its properties. You can implement application logic around whether the device is in compliance or not.</p>
<pre><code>ComplianceReport *report = [[MokiManage sharedManager] complianceReport];</code></pre>
<p>The third method is to run a compliance report manually. Triggering a check will run a compliance check locally and then push those results to mokimanage.com. After this is complete the you will be able to implement application logic around whether the device is in compliance or not as was mentioned before. Triggering a check manually will not effect the scheduled run time on a heartbeat, if it is turned on.</p>
<pre><code>[[[MokiManage sharedManager] complianceReport] run];</code></pre>
</div>

<div context-show="android">
    <p>A Compliance Report is a collection of compliance checks performed on the device to give a snapshot of security. The structure of this report in iOS is comprised of a ComplianceReport class with information about the overall check and an array of ComplianceCheck class objects. Documentation for these classes can be found in the <a href="http://mokimobility.github.io/MokiManageSDK/javadoc/com/moki/manage/api/MokiManage.html" target="_blank">SDK Java Docs</a></p>
    <p>There are 2 ways to use compliance reports in your application. The first is to initialize compliance checking when you initialize the <code>MokiManage sharedManager</code>.</p>
<pre><code>public class CustomApplication extends Application implements Application.ActivityLifecycleCallbacks {
    private static MokiManageApplication instance;
    private MokiManage mmanage;
    private int activeActivityCount = 0;
    private final boolean enableASM = false;
    private final boolean enableAEM = true;
    private final boolean enableCompliance = true;
    private final String appKey = "<YOUR APP KEY HERE>";
    private final String appID = "<YOUR APP ID HERE>";

        @Override
        public void onCreate() {
            super.onCreate();
            Context context = this;
            mmanage = MokiManage.sharedInstance(appKey, appID, context, enableASM, enableAEM, enableCompliance);
            registerActivityLifecycleCallbacks(this);
            instance = this;
        }
</code></pre>
<p>When this option is enabled a Compliance Report will be run on every heartbeat. By default this happens every hour. If the heartbeat timer is customized, the compliance report frequency will change accordingly. This method provides a simple, continually updated view to the compliance status of the app and device.</p>
<p>The second method is to utilize the <code>IComplianceReportCallback</code> interface. This will allow you to manually get the latest compliance information and utilize it in your application logic.</p>
<pre><code>mokiManage.getComplianceReport(new IComplianceReportCallback() {
@Override
public void reportReceived(ComplianceReport report) {
    if (report != null) {
        //ui work here
    } else {
        //error out or retry here
    }
  }
});</code></pre>
<p>There is the rare possibility that the return value could be null. Just be aware to check for that case in your implementation.</p>
</div>
