<p class="bold">It’s easy to understand how one person can use a tablet for a variety of personal and business tasks:&nbsp;one user, one tablet, many tasks. An alternate scenario is the purposed tablet; instead of doing many tasks for a single person, the purposed tablet serves as a user kiosk, handling a focused set of tasks for a number of different users.</p>

<p> MokiMobility enables remote app and device management for purposed tablet solutions and therefore have created the MokiManage platform. Because purposed apps are deployed across dozens, hundreds, or thousands of locations, the solution needs to be managed centrally based on policies. To meet the special demands of purposed tablet solutions, the MokiManage platform consists of three elements:</p>

<ul class="nostyle">
    <li><emph>Mobile Device management (MDM)</emph> — manage inventory, status, profiles, and security policies across a large set of devices.</li>
    <li><emph>Application Environment Monitoring (AEM)</emph> — determine if an app is running properly. Check network access, power levels, see device logs, and take screen shots from the app.</li>
    <li><emph>Applications Settings Management (ASM)</emph> — change application settings from a single location and apply to apps on a single device or multiple devices as needed.</li>
</ul>

<p> You’re building a custom application to deliver a great user experience as part of your solution. Enabling your app to work with MokiManage allows you to centralize the management of the user experience you’re delivering with your purposed app. These guides explain how to develop manageable purposed applications for iOS using MokiManage.</p>

<p> The MokiManage platform is modular, allowing developers to take advantage of the device management and app management components independently. Your purposed app can work with a combination of AEM, ASM, and MDM.</p>
