<p>AEM provides remote monitoring to keep track of what is going on with a purposed app. Capabilities include the following:</p>
<ul class="nostyle">
    <li>Device location</li>
    <li>Screenshots</li>
    <li>Memory use</li>
    <li>IP address: Wi-Fi and cellular network</li>
    <li>Device name</li>
    <li>Battery status</li>
    <li>App uptime</li>
    <li>Device uptime</li>
    <li>Processor load</li>
    <li>App version</li>
    <li>OS version</li>
    <li>Storage space used and available</li>
    <li>Logs</li>
    <li>Hardware monitoring</li>
    <li>System monitoring</li>
</ul>

<p>Information collected is available in the MokiManage Web console. The monitoring information can be used to troubleshoot and keep an app up and running.</p>

<p>The app can push logs and screenshots to MokiManage, and MokiManage can also request them at any time.</p>

<p>Having this information available from a centralized console makes it easier to make sure an app is running properly, and helps to troubleshoot a range of hardware, connectivity, and app problems.</p>

<p>Setting up the AEM section of the SDK is different for iOS and Android</p>

<h2>iOS setup requires 4 steps:</h2>

<ol>
	<li><a href="http://staging.mokimobility.com/sdk-guides/apns-setup-for-your-app/" title="APNs setup">Setup Apple Push Notification service (APNs) for your app</a></li>
	<li><a href="http://staging.mokimobility.com/sdk-guides/adding-the-sdk-to-xcode/" title="add SDK to xcode‎">Add the MokiManage SDK to your Xcode project</a></li>
	<li><a href="http://staging.mokimobility.com/sdk-guides/setting-up-your-app-delegate/" title="Setting up your app delegate">Add some code to your app delegate</a></li>
	<li><a href="http://staging.mokimobility.com/sdk-guides/verify-that-aem-is-enabled/" title="Verify that AEM is enabled">Verify that AEM is enabled in your app</a></li>
</ol>

<h2>Android setup requires 6 steps:</h2>

<ol>
	<li><a href="http://staging.mokimobility.com/sdk-guides/add-the-sdk-to-eclipse/" title="Add SDK to Eclipse">Add the MokiManage SDK to your Eclipse project</a></li>
	<li><a href="http://staging.mokimobility.com/sdk-guides/setting-up-the-androidmanifest-xml/" title="AndroidManifest.xml setup">Setting up the AdnroidManifest.xml</a></li>
	<li><a href="http://staging.mokimobility.com/sdk-guides/setting-up-mokimanage-in-your-application/" title="Setting up MokiManage in your application">Setting up MokiManage in your application</a></li>
	<li><a href="http://staging.mokimobility.com/sdk-guides/mokimanage-broadcasts/" title="MokiManage broadcasts">MokiManage broadcasts</a></li>
	<li><a href="http://staging.mokimobility.com/sdk-guides/silently-enrolling-your-device/" title="Silently enrolling your device">Silently enrolling your device</a></li>
	<li><a href="http://staging.mokimobility.com/sdk-guides/verify-that-aem-is-enabled/" title="Verify that AEM is enabled">Verify that AEM is enabled in your app</a></li>
</ol>
