---
layout: default
site_section_title: Developer Guides
---

<div class="row">
                <div class="span3">
                    <div class="well affix navbar" >
                    {% include menu_top.html %}
                    </div>
                </div>
                <div class="span9" data-spy="scroll" data-target=".navbar">
                    
                    <h1>{{page.title}}</h1>
                    
                    <div>
                    
                        {{ content }}
                    
                    
                    </div>
                    
                    
                    <br/>
                    
{% if page.back_url and page.back_title %}
<a href="{{page.back_url}}" class="pull-left">« {{page.back_title}}</a>
{% endif %}

{% if page.next_url and page.next_title %}
<a href="{{page.next_url}}" class="pull-right">{{page.next_title}} »</a>
{% endif %}
                    
                    
                </div>
            </div><!-- /row -->

