<ul>
	<li>Add the library to your project or workspace.</li>
	<li>Update your <code>Info.plist</code> file.</li>
	<li>Add the required frameworks.</li>
</ul>
        <p>The MokiManage SDK uses the <code>AFNetworking</code> library. Since many projects use this library already, to avoid conflicts, we do not include it in our SDK. You’ll need to add both <code>AFNetworking</code> and the MokiManage SDK to your project. One popular way to manage multiple public libraries is with <a href="http://cocoapods.org">Cocoapods</a>, which allows you to include a set of libraries with your app and keep them all up to date automatically.</p>
